body {
	background-color: white;
}

#navBar {
	display: inline-block;
	background-color: blue;
	width: 100%;
	border: 1px solid blue;
	height: 100px;
}

#outer-container {
	border: 1px dashed green;
	width: 90%;
	margin: 0 auto;
	height: 1100px;
}

#inner-container {
	width: 90%;
	border: 1px solid red;
	margin: 0 auto;
	height: 500px;
	height: 1000px;
}

h2 {
	margin-left: 5%;
}

.darkTheme {
	background-color: gray;
}

.largeText {
	font-weight: bold;
	font-size: 2em;
}

.hidden {
	display: none;
}

#logoName {
	font-family: 'Slackey', cursive;
	color: white;
	display: inline-block;
  text-shadow: 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red, 0 0 4px red;
}

#logo {
	display: inline-block;
	margin: 10px;
	border: 2px solid red;
	border-radius: 15px;
	box-shadow: 5px 5px rgba(100, 100, 225, 1);
}
